<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forced-reflow</title>
    <style>
      #box-1 {
        height: 100px;
        background-color: red;
      }
      #box-2 {
        height: 100px;
        margin-top: 10px;
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div id="box-1"></div>
    <div id="box-2"></div>
    <button id="button" onclick="handleClick()">Click me</button>
  </body>
  <script src="./init.js"></script>
  <script>
    const box1 = document.getElementById("box-1");
    const box2 = document.getElementById("box-2");

    function handleClick() {
      box1.style.height = "200px";
      console.log(box1.offsetHeight);
      box2.style.height = "200px";
    }
  </script>
</html>
